@import url('https://fonts.googleapis.com/css2?family=Mirza&display=swap');

body {
  background: #fafafa;
  color: #696a6b;
  margin-top: 5rem;
  font-family: 'Mirza', cursive;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h6 {
  color: #ffc288;
}

.bg-steel {
  background-color: #393e46;
}

.site-header .navbar-nav .nav-link {
  color: white;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.nav-item:hover {
  opacity: 0.7;
  color: #ffc288;;
}

.navbar-brand:hover {
  opacity: 0.7;
  color: #ffc288;;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #ffc288;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.logo {
  margin-right: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: #222831;
  width: 100%;
  padding-top: 5px;
}

.category-footer {
  position: relative;
  bottom: 0;
  background-color: #222831;
  width: 100%;
  margin-top: 80px;
  padding-top: 5px;
}

.social-links {
  display: block;
  justify-content: space-between;
}

/* Style all font awesome icons */
.sl {
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.sl:hover {
  opacity: 0.7;
  color: #ffc288;
}

.mailto:hover {
  opacity: 0.7;
  color: #ffc288;
}

.photo {
  background-image: url(../photos/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
  height: 500px;
}

.pbtm {
  margin-bottom: 19px;
}

.whoops {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 471px;
}

.thank-you {
  background-image: url(../photos/1.jpg);
  height: 480px;
  background-repeat: no-repeat;
  background-position: center;
}

.mg {
  margin-right: 10px;
}

