
{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container">
       
  {% if all_comments %}
  <div class="col-md-7" >
      <h3 class="text-center" id="coms">Comments</h3>
      {% for comment in all_comments %}
          <div>
              <div>
                <h5 class="" style="text-decoration: underline;">{{comment.user.username}}</h5>
                <p class="card-title" style="color: black;">{{ comment.comment }}</p>
              </div>
          </div>
        {% if post.user == current_user%}
        <div class="col-md-4">
          <h5><a class="nav-link" style="color: black;" 
            href=""><i
            class="fa fa-trash" style="color: red;" aria-hidden="true"></i> Delete Comment</h5></a>
        </div>
        {%endif%}
      {% endfor %}
  </div>
  <div class="col-md-5 mt-5">
      {{wtf.quick_form(form)}}
  </div>
  {%else%}
  <div class="">
      <div class="">
        <p style="color: black;">No Comments yet for this post. Be the first person to comment</p>
      </div>
  </div> 
  <div class="col-md-6 mt-5">
      {{wtf.quick_form(form)}}
  </div>
  {%endif%}
</div>
{% endblock%}