{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Content block -->
{% block content %}

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
      <h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Posts</h3>
      <span class="tagline" itemprop="description">For What It's Worth...</span>
        {{macro.displayPostList(post)}}
    </div>
    <div class="col-md-4">
      <div class="content-section">
        <h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Updates</h3>
        <p class='text-muted'>You can put any information here you'd like.
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">Latest Posts</li>
            <li class="list-group-item list-group-item-light">Announcements</li>
            <li class="list-group-item list-group-item-light">Calendars</li>
            <li class="list-group-item list-group-item-light">etc</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</main>

 <!-- Footer block  -->
 {% block footer %} {% include 'footer.html' %} {% endblock %}

{% endblock%}