<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">Flask Blog</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggle"
        aria-controls="navbarToggle"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{{ url_for('main.home') }}"
            >Home</a
          >
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav ms-auto">
          {% if current_user.is_authenticated %}
          <a class="nav-item nav-link" href="{{url_for('main.create_post')}}"
            >New Post</a
          >
          <a
            class="nav-item nav-link"
            href="{{url_for('main.profile',uname=current_user.username)}}"
            >Account</a
          >
          <a class="nav-item nav-link" href="{{ url_for('auth.logout') }}"
            >Logout</a
          >
          {% else %}
          <a class="nav-item nav-link" href="{{ url_for('auth.login') }}"
            >Login</a
          >
          <a class="nav-item nav-link" href="{{ url_for('auth.register') }}"
            >Register</a
          >
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>
