<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">

      <img src="../static/photos/blog.png" alt="" width="30" height="30" class="d-inline-block align-text-top rounded-circle logo" style="background-color: transparent;">

      <a class="navbar-brand mr-3" href="/">Ink Society</a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggle"
        aria-controls="navbarToggle"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggle">

        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{{ url_for('main.index')}}">Home</a>
          <a class="nav-item nav-link" href="">About</a>
        </div>

        <!-- Navbar Right Side -->
        <div class="navbar-nav ms-auto">
          {% if current_user.is_authenticated %}
          <a class="nav-item nav-link" href="{{url_for('auth.logout')}}">Sign Out</a>
          {% else %}
          <a class="nav-item nav-link" href="{{url_for('auth.login')}}">Sign In</a>
          <a class="nav-item nav-link" href="{{url_for('auth.register')}}">Register</a>
          {%endif%}
        </div>

      </div>

    </div>
  </nav>
</header>